*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --transition-ease: 0.15s ease;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 8px 30px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);

  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;

  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  min-height: 100vh;
  width: 100%;
}

main {
  min-height: calc(100vh - 320px);
}
@media (max-width: 320px) {
  body {
    overflow-x: auto;
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-lighter);
}
a:active {
  color: var(--color-primary-darker);
}

*[data-fix-width] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  max-width: 1440px;
  width: 90%;
}

hr {
  background-color: var(--color-borderline);
  border: none;
  height: 1px;
  width: 100%;
}
