*[data-theme="dark"] {
  --color-text-main: rgba(255, 255, 255, 0.95);
  --color-text-secondary: var(--color-cool-gray-5);
  --color-text-link: var(--color-blue-7);
  --color-text-primary: var(--color-blue-400);

  --color-background: var(--color-gray-10);

  --color-surface-1: var(--color-gray-9);
  --color-surface-2: var(--color-gray-8);
  --color-surface-3: var(--color-gray-7);

  --color-borderline: var(--color-gray-8);

  --color-button-gray: 200, 200, 200;

  --shadow-normall: 0 5px 10px rgba(255, 255, 255, 0.12);
  --shadow-hover: 0 8px 30px rgba(255, 255, 255, 0.12);
}
